* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html,
body,
#app {
  height: 100%;
}

html {
  font-size: 26.666666666666vw;
}

body {
  font-size: 12px;
}

// 媒体查询
@media only screen and (orientation: landscape) {
  html {
    font-size: 100px;
  }
}
